@import "../../../vars";

.Copy {
  width: 100%;
  padding: 0 $spaceM;

  @include min-width(1000px) {
    width: 70%;
  }

  .HTML {
    @include flex(column, flex-start, flex-start);
    h2 {
      @include font("L");
      margin-bottom: $spaceS;
      margin-top: $spaceS;
    }

    h3 {
      @include font("M");
      margin-bottom: $spaceS;
    }

    p {
      @include font("S");
      margin-bottom: $spaceS;
    }

    span a {
      color: dodgerblue;
    }

    div {
      @include font("XS");
    }
  }
}
