@import "../../../vars";

.Title {
  @include font("L");

  margin: 0 auto;
  max-width: $contentWidthS;
  font-weight: 300;
  letter-spacing: 0.4rem;
  padding: $spaceS;
  text-align: center;
  text-transform: uppercase;
  color: $gray4;
  line-height: 1.2 !important;
  width: 100%;

  @include min-width(1000px) {
    @include font("XXL");
  }
}
