@import "../../../vars";

.Item {
  display: inline-block;
  width: 100%;
  background: $secondaryL;
  padding: $spaceM;
  margin: 0 0 $spaceM 0;

  p {
    @include font("SSM");
  }

  h3 {
    @include font("SM");

    margin-top: $spaceM;
  }
}
