@import "../../vars";

.BasicInfo {
  @include flex(column, flex-start, center);
  width: 100%;
  min-height: 50vh;
  margin-bottom: $spaceM;
}

.CardContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: $spaceM;

  margin: 0 $spaceM;

  @include min-width(1000px) {
    grid-template-columns: 3fr 2fr;
    max-width: 80%;
  }
}

.Left,
.Right {
  @include flex(column, flex-start, center);
  background: white;
  padding: $spaceM $spaceS;
  text-align: center;

  h2 {
    @include font("L");
    margin-bottom: $spaceS;
    font-weight: 300;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
  }

  h3 {
    @include font("SM");
  }

  p {
    @include font("S");

    a {
      color: dodgerblue;
    }
  }

  .ButtonContainer {
    margin: 2rem 0;
  }

  @include min-width(1000px) {
    @include flex(column, flex-start, flex-start);
    padding: $spaceL $spaceM;
    text-align: left;
  }
}

.Left {
  p {
    margin-bottom: $spaceM;
  }
}

.Right {
  h3:last-of-type {
    margin-top: $spaceM;
  }
}
