@import "../../vars";

.BasicInfo {
  @include flex(column, flex-start, center);
  width: 100%;
  min-height: 50vh;
  // background: $eggshell;
  margin-bottom: $spaceM;
}

.CardContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: $spaceM;

  margin: 0 $spaceM;

  @include min-width(1000px) {
    grid-template-columns: 2fr 1fr;
    max-width: 80%;
  }
}

.Left,
.Right {
  @include flex(column, flex-start, flex-start);
  // width: 100%;
  background: white;
  padding: $spaceM $spaceS;

  h2 {
    @include font("M");
    margin-bottom: $spaceM;
  }

  p {
    @include font("S");

    a {
      color: dodgerblue;
    }
  }

  div {
    margin-top: $spaceM;
  }

  @include min-width(1000px) {
    padding: $spaceL $spaceM;
  }
}

.Left {
  p {
    margin-bottom: $spaceM;
  }
}
