@import "../../../vars";

.TicketCTA {
  // display: none;

  @include flex(column, center, center);

  top: 11rem;
  right: 1rem;

  @include font("SM");
  background: $primaryL;
  position: absolute;

  z-index: 500;
  height: 6rem;
  width: 20rem;
  transition: 0.5s;
  border-radius: 15px;
  font-weight: 300;
  letter-spacing: 0.3rem;

  p {
    color: $gray5;
  }

  @include min-width(768px) {
    @include flex(column, center, center);

    top: 18rem;
    right: 2rem;
  }

  @include min-width(1000px) {
    @include font("SM");
    height: 7rem;
    width: 23rem;
  }

  &:hover {
    // background: $primary;
    background: $primary;
  }
}
