@import "../../../vars";

.Sidebar {
  @include flex(column, flex-start, center);
  width: 100%;
  max-width: 100vw;

  @include min-width(1000px) {
    @include flex(column, flex-start, flex-start);
    width: 30%;
    // margin-top: 6rem;
  }

  .Title {
    @include font("M");
    margin-bottom: $spaceM;
    font-weight: 300;
    letter-spacing: 0.4rem;

    border-bottom: 0.1rem solid $primaryDD;
    padding-bottom: $spaceS;
  }

  .FeaturedPostContainer {
    width: 100%;
  }

  .RecentPostsContainer {
    width: 100%;
  }
}

.MiniCard {
  @include flex(column, center, center);
  width: 100%;
  margin-bottom: $spaceM;

  @include min-width(1000px) {
    @include flex(row, flex-start, flex-start);
    height: 13rem;
    margin-bottom: $spaceL;
  }

  .ImageContainer {
    width: 100%;
    max-width: 30rem;

    .Image {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }

    @include min-width(1000px) {
      width: 45%;
      height: 100%;
    }
  }

  .Text {
    @include flex(column, center, center);
    width: 90%;

    h1 {
      @include font("S");

      font-weight: 300;
      letter-spacing: 0rem;
      text-align: center;

      @include min-width(1000px) {
        text-align: left;
      }

      @include min-width(1200px) {
        @include font("SSM");
      }
    }

    p {
      @include font("S");
    }

    @include min-width(1000px) {
      @include flex(column, flex-start, flex-start);
      width: 55%;
      margin-left: $spaceS;
    }
  }
}
