@import "../../../../vars";

.Header {
  // display: none !important;
  position: absolute;
  top: $spaceS;
  left: $spaceS;

  @include min-width(768px) {
    position: initial;
    display: flex !important;
  }
}

.Social {
  @include flex(row, center, center);

  font-size: 2.5rem !important;
  line-height: 3rem !important;
  margin-bottom: $spaceS;

  .Icon {
    @include flex(column, center, center);

    position: relative;
    transition: 0.3s;
  }

  a:not(:last-child) {
    margin-right: $spaceS;

    @include min-width(1000px) {
      margin-right: $spaceS;
    }
  }

  .Icon:hover {
    transform: translateY(-0.3rem);
  }

  .Icon svg {
    color: $gray5;
  }

  .TicketCTA {
    font-size: 1.1rem;
    line-height: 1;
    // margin-right: $spaceM !important;
    background: $bonus;
    color: $gray5 !important;
    // padding: 0.4rem 2rem;
    // border-bottom: 2px solid darken($bonus, 10%);
    font-weight: 300;
    letter-spacing: 0.3rem;
    border-radius: 0.2rem;
    display: block;
    transition: 0.5s;
    // box-shadow: 4px 4px 7px -1px rgba($gray5, 0.4);
    position: absolute;
    top: 4rem;
    left: 0;
    width: 105%;
    padding: 0.5rem 1rem;
    text-align: center;

    @include min-width(360px) {
      font-size: 1.3rem;
      width: 115%;
    }

    @include min-width(768px) {
      display: none;
    }

    // @include min-width(1250px) {
    //   @include font("SSM");
    //   padding: 0.6rem 2rem;
    // }

    &:hover {
      background: darken($bonus, 10%);
    }
  }

  @include min-width(768px) {
    margin-right: $spaceM;
  }

  @include min-width(1000px) {
    @include flex(row, center, center);
    margin-right: $spaceL;
  }

  @include min-width(1500px) {
    margin-bottom: $spaceM;
  }
}
