@import "../../../vars";

.CTAButton {
  @include cta-button();
  @include font("SM");

  text-align: center;
  font-weight: 300;
}

.AltColor {
  background: $bonus;
  border-bottom: 0.2rem solid darken($bonus, 10%);

  &:hover {
    background: darken($bonus, 10%);
  }
}
