@import "../../../vars";

.AllPosts {
  margin: $spaceM auto;
  width: 100%;
  max-width: $contentWidthL;
}

.AllPostsContainer {
  @include flex(column, flex-start, center);
  width: 100%;

  @include min-width(1000px) {
    @include flex(row, center, flex-start);

    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }

  .Posts {
    width: 100%;

    @include min-width(1000px) {
      width: 80%;
    }

    .PostsGrid {
      @include flex(row, flex-start, flex-start);
      flex-wrap: wrap;
    }
  }

  .ReadMoreButton {
    @include cta-button();
    margin: 0 auto;
  }
}
