@import "../../../vars";

.AllPosts {
  margin: $spaceM auto;
  width: 100%;
  max-width: $contentWidthL;
}

.AllPostsContainer {
  @include flex(column, flex-start, center);
  width: 100%;

  @include min-width(1000px) {
    @include flex(row, center, flex-start);
  }

  .Posts {
    width: 100%;

    @include min-width(1000px) {
      width: 75%;
    }

    .PostsGrid {
      @include flex(column, flex-start, center);
      flex-wrap: wrap;
      width: 100%;

      @include min-width(1000px) {
        @include flex(row, center, flex-start);
      }

      @include min-width(1280px) {
        @include flex(row, flex-start, flex-start);
      }
    }
  }

  .ReadMoreButton {
    @include font("S");
    @include cta-button();
    margin: $spaceM auto;
    font-weight: 300 !important;
  }
}
