@import "../../../vars";

.OutButton {
  @include cta-button();
  @include font("S");

  text-align: center;
  font-weight: 300;
  margin: $spaceS auto $spaceM auto;

  @include min-width(1000px) {
    margin: $spaceS 0 $spaceM 0;
  }
}

.AltColor {
  background: $primaryDD;
  box-shadow: 0px 2px 0px 0px $primaryLL;
}
