@import "../../../vars";

.OutButton {
  @include cta-button();

  text-align: center;
  font-weight: 300;
  margin: $spaceS auto $spaceM auto;
  // border-bottom: 0.2rem solid $primaryDD;
  // box-shadow: 4px 4px 7px -1px rgba($gray5, 0.4) !important;

  @include min-width(1000px) {
    margin: $spaceS 0 $spaceM 0;
  }
}

.AltColor {
  background: $bonus;
  // border-bottom: 0.2rem solid darken($bonus, 10%);

  &:hover {
    background: darken($bonus, 10%);
  }
}
