@import "../../../vars";

.AuthorBio {
  @include flex(row, flex-start, flex-start);

  height: 10rem;
  width: 30rem;
  margin-left: $spaceS;

  .ImageContainer {
    width: 40%;
    height: 100%;

    .Image {
      width: 10rem;
      height: 10rem;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
    }
  }

  .Text {
    width: 60%;
    margin-top: $spaceS;

    .Name {
      @include font("S");
      line-height: 1.1 !important;
      letter-spacing: 0.4rem;
      color: $primaryDD;
    }

    .Role {
      @include font("S");
      line-height: 1.1 !important;
      letter-spacing: 0.4rem;
    }
  }
}
