@import "../../../vars";

.Container {
  @include flex(column, flex-start, center);

  width: 310px;
  height: 550px;

  // @include min-width(1000px) {
  //   padding: 0 $spaceM 0 $spaceM;
  // }
}

.UserInfo {
  @include flex(row, flex-start, flex-start);
  width: 100%;
  margin-bottom: $spaceS;

  .LogoContainer {
    img {
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      margin-right: $spaceS;
    }
  }

  div {
    a {
      h1 {
        @include font("SSM");
        text-align: center;
        text-align: left;
      }
    }

    p {
      @include font("XS");
      text-align: center;
      text-align: left;
      max-width: 32rem;
    }
  }
}

.FeedGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 10rem);
  // grid-gap: 0.5rem;
  // justify-items: center;

  @include min-width(500px) {
    grid-gap: $spaceS;
  }

  .Tile {
    height: 100%;
    width: 100%;

    // @include min-width(500px) {
    //   height: 10rem;
    //   width: 10rem;
    // }
  }
}
