@import "../../../vars";

.Container {
  @include flex(column, flex-start, center);

  width: 310px;
  // height: 550px;
  margin-bottom: $spaceM;
  // @include min-width(1000px) {
  //   padding: 0 $spaceM 0 $spaceM;
  // }
}

.UserInfo {
  @include flex(row, flex-start, flex-start);
  width: 100%;
  margin-bottom: $spaceS;

  .LogoContainer {
    img {
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      margin-right: $spaceS;
    }
  }

  div {
    a {
      h1 {
        @include font("SSM");
        text-align: center;
        text-align: left;
      }
    }

    p {
      @include font("XS");
      text-align: center;
      text-align: left;
      max-width: 32rem;
    }
  }
}

.FeedGrid {
  @include flex(row, center, center);
  flex-wrap: wrap;
  width: 100%;
  margin-left: $spaceS;

  .Tile {
    height: 30%;
    width: 30%;
    margin: 0 $spaceS $spaceS 0;
  }
}
