@import "../../../vars";

.MailChimp {
  width: 100%;
  margin-top: $spaceM;
  max-width: 30rem;

  .Title {
    @include font("SM");
    width: 100%;
    margin-bottom: $spaceS;
    text-align: center;

    @include min-width(1000px) {
      @include font("M");
      text-align: left;
    }
  }

  form {
    @include flex(column, center, center);
    width: 100%;
    max-width: 30rem;

    @include min-width(1000px) {
      @include flex(column, center, flex-start);
    }

    div {
      label {
        @include font("SM");
        display: block;

        @include min-width(1000px) {
          @include font("M");
        }
      }

      input {
        @include font("SM");
        width: 100%;
        margin-bottom: $spaceS;
        max-width: 30rem;
        padding: 0.2rem $spaceS;

        @include min-width(1000px) {
          @include font("M");
        }
      }
    }
  }

  .Message {
    color: red;
  }

  button {
    @include font("S");
    @include cta-button();
    margin-top: $spaceS;
  }
}
