@import "../../vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontStack;
}

*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  min-height: 100%;
}

html {
  font-size: 62.5%;
}

a:link,
a:visited {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
li,
div,
button,
a,
input,
textarea {
  color: $gray4;
}

.active {
  color: rgba($primaryDD, 1);
}

//Button Reset
button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

// button:active {
//   transform: scale(0.99);
// }

.cta-button-wrapper {
  margin: 0 auto;
  margin-top: $spaceSM;

  @include min-width(1000px) {
    margin: 0;
    margin-top: $spaceS;
  }
}
