@import "../../vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontStack;
}

*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  min-height: 100%;
}

html {
  font-size: 62.5%;
}

a:link,
a:visited {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
li,
div,
button,
a {
  color: $gray5;
}

.active {
  background: rgba($primaryL, 1);
}
