@import "../../../vars";

.Feature {
  @include flex(column, center, center);
  margin: $spaceL 0;

  width: 100%;

  @include min-width(1000px) {
    width: 95rem;
  }
}

.Forward {
  @include min-width(1000px) {
    @include flex(row, space-around, flex-start);

    .Left {
      margin-right: $spaceL;
    }
  }
}

.Reverse {
  @include min-width(1000px) {
    @include flex(row-reverse, space-around, flex-start);

    .Left {
      margin-left: $spaceL;
    }
  }
}

.Left {
  width: 30rem;

  @include min-width(1000px) {
    width: 35rem;
  }
}

.Right {
  //   max-width: 40rem;
}

.Title {
  @include flex(row, center, baseline);
  margin: $spaceM 0;

  .Number,
  .Name {
    font-weight: 300;
    letter-spacing: 4px;
  }

  .Number {
    @include font("G");
    margin-right: $spaceS;
  }
  .Name {
    @include font("L");
  }

  @include min-width(1000px) {
    @include flex(row, flex-start, baseline);
    margin: 0;

    .Number {
      @include font("G");
      margin-right: $spaceS;
    }

    .Name {
      @include font("XXL");
    }
  }
}

.HTML {
  margin-top: $spaceS;
  width: 100%;

  p {
    @include font("S");
    padding: 0 $spaceM;
    max-width: 40rem;
  }

  @include min-width(1000px) {
    p {
      padding: 0;
    }
  }
}
