@import "../../vars";

.About {
  @include flex(column, flex-start, center);

  width: 100%;

  @include min-width(1000px) {
    width: 80%;
    margin: 0 auto;
  }
}

.Volunteers {
  @include flex(column, flex-start, flex-start);

  margin-top: $spaceS;
  padding: 0 $spaceS;

  p {
    @include font("S");
    margin-bottom: $spaceM;
    max-width: 62rem;

    @include min-width(1000px) {
      width: 50%;
      max-width: 50%;
    }

    a {
      color: dodgerblue;
    }
  }

  h3 {
    @include font("SM");
    margin-bottom: $spaceS;
  }
}
