@import "../../../vars";

.Profiles {
  @include flex(column, flex-start, center);
  width: 100%;
  max-width: $contentWidthL;
  margin-top: $spaceL;
  padding: $spaceS;

  @include min-width(1000px) {
    @include flex(row, center, flex-start);
  }
}
