@import "../../../vars";

.Profiles {
  @include flex(column, flex-start, center);
  width: 100%;
  max-width: $contentWidthL;
  padding: $spaceS;

  @include min-width(1000px) {
    @include flex(row, space-between, flex-start);
    margin-top: $spaceS;
  }
}
