@import "../../../vars";

.SlideContainer {
  height: 100%;
  width: 100%;
  position: relative;

  .Img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
