@import "../../vars";

.NewsletterModal {
  @include flex(column, center, center);
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  z-index: 10000;

  .FormContainer {
    @include flex(column, center, center);
    position: relative;
    border-radius: 5px;
    background: white;
    padding: $spaceSM;
    max-width: 90%;

    @include min-width(1000px) {
      @include flex(column, center, center);
      padding: $spaceM;
    }

    .ModalCopy {
      @include font("S");
      letter-spacing: 0.2rem;
      font-weight: 300;
      text-align: center;

      @include min-width(1000px) {
        @include font("S");
      }
    }

    p:not(:last-of-type) {
      margin-bottom: $spaceS;
      margin-top: $spaceM;
    }

    .CloseModalButton {
      @include font("M");
      position: absolute;
      top: 0;
      right: 0;
      background: transparent;

      @include min-width(1000px) {
        @include font("L");
        top: $spaceXS;
        right: $spaceXS;
      }
    }
  }
}
