@import "../../../vars";

.ChiangMaiSchedules {
  @include flex(column, flex-start, center);

  width: 100%;

  @include min-width(1000px) {
    @include flex(column, flex-start, flex-start);
  }
}

.Table {
  width: 100%;
  max-width: 50rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  justify-items: center;
  border: 2px solid $gray3;
  grid-gap: $spaceS;
  padding: $spaceS;
}
