@import "../../../vars";

.DoubleButton {
  @include flex(row, center, center);
  margin: $spaceM auto;

  @include min-width(1000px) {
    @include flex(row, flex-start, center);
    margin: $spaceM 0;
  }

  a {
    @include font("SM");

    text-align: center;
    font-weight: 300;
    display: block;
    border-radius: 0.2rem;
    border: none;
    color: $gray5;
    cursor: pointer;
    padding: 1rem 2rem;
    letter-spacing: 0.3rem;
    transition: 0.5s;
    // box-shadow: 4px 4px 7px -1px rgba($gray5, 0.4);
  }

  a:not(:last-of-type) {
    margin-right: $spaceS;

    @include min-width(1000px) {
      margin-right: $spaceM;
    }
  }

  .Button1 {
    background: $primaryL;
    // border-bottom: 0.2rem solid $primaryDD;

    &:hover {
      background: $primary;
    }
  }

  .Button2 {
    background: $bonus;
    // border-bottom: 0.2rem solid darken($bonus, 10%);

    &:hover {
      background: darken($bonus, 10%);
    }
  }
}
