@import "../../../vars";

.DoubleButton {
  @include flex(row, flex-start, center);
  margin: $spaceM 0;

  a {
    @include font("S");

    text-align: center;
    font-weight: 300;
    display: block;
    border-radius: 0.2rem;
    border: none;
    color: $gray5;
    cursor: pointer;
    padding: 1rem 2rem;
    letter-spacing: 0.3rem;
    transition: 0.5s;
    margin-right: $spaceM;
  }

  .Button1 {
    background: $primaryL;
    box-shadow: 0px 0.2rem 0px 0px $primary;

    &:hover {
      background: $primary;
    }
  }

  .Button2 {
    background: $bonus;
    box-shadow: 0px 0.2rem 0px 0px darken($bonus, 10%);

    &:hover {
      background: darken($bonus, 10%);
    }
  }
}
