@import "../../../vars";

.Story {
  @include flex(column, flex-start, center);
  width: 100%;
  max-width: $contentWidth;
  min-height: 40vh;
  margin-top: $spaceL;
  padding: 0 $spaceS $spaceM $spaceS;

  @include min-width(1000px) {
    @include flex(row, center, flex-start);
  }
}

//Copy
.Right {
  width: 100%;

  @include min-width(1000px) {
    width: 70%;
    padding: 0 0 0 $spaceM;
  }

  p {
    @include font("S");
    margin-bottom: $spaceM;
  }

  h2 {
    @include font("XXL");
    margin-bottom: $spaceM;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-weight: 300;

    @include min-width(1000px) {
      text-align: left;
    }
  }

  h3 {
    @include font("L");
    text-align: center;
    width: 100%;

    margin-bottom: $spaceM;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-weight: 300;

    @include min-width(1000px) {
      text-align: left;
    }
  }
}

//Image Container
.Left {
  @include flex(row, space-between, center);
  width: 100%;

  @include min-width(1000px) {
    @include flex(column, flex-start, center);
    width: 30%;
  }

  .ImageContainer {
    width: 90%;
    height: 28rem;
    margin-bottom: $spaceM;

    .Image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .Image2 {
    @media screen and (max-width: 999px) {
      display: none;
    }
  }
}
