@import "../../../vars";

.BannerText {
  @include flex(column, flex-start, center);

  position: relative;
  padding: 0 $spaceS;
  width: 100%;
  max-width: $contentWidth;
  // z-index: 1000;

  h1,
  h2 {
    text-align: center;
    color: white;
    letter-spacing: 0.4rem;
    font-weight: 300;
    text-shadow: 0.2rem 0.2rem 3rem $gray5;
  }

  .Left {
    h1 {
      @include font("XXL");
      margin-top: $spaceXL;
    }
    h2 {
      @include font("M");
      margin-bottom: $spaceM;
    }
  }

  .Right {
    @include flex(column, center, center);

    h1 {
      @include font("M");
    }

    h2 {
      @include font("SM");
      margin-bottom: $spaceM;
    }
  }

  // //Mobile Specific Queries:::
  // @media only screen and (max-width: 767px) and (max-height: 570px) {
  //   .Left {
  //     h1 {
  //       @include font("M");
  //       margin-bottom: $spaceS;
  //     }
  //     h2 {
  //       @include font("SM");
  //       margin-bottom: $spaceM;
  //     }
  //   }
  //   .Right {
  //     h1 {
  //       @include font("SSM");
  //     }

  //     h2 {
  //       @include font("S");
  //       margin-bottom: $spaceM;
  //     }
  //   }
  // }

  // @media only screen and (max-width: 767px) and (max-height: 641px) {
  //   .Left {
  //     h1 {
  //       @include font("M");
  //       margin-bottom: $spaceS;
  //     }
  //     h2 {
  //       @include font("SM");
  //       margin-bottom: $spaceM;
  //     }
  //   }
  //   .Right {
  //     h1 {
  //       @include font("M");
  //     }

  //     h2 {
  //       @include font("S");
  //       margin-bottom: $spaceM;
  //     }
  //   }
  // }

  // //Tablet Sizing::::
  // @include min-width(768px) {
  //   .Left {
  //     h1 {
  //       @include font("G");
  //       margin-bottom: $spaceM;
  //     }
  //     h2 {
  //       @include font("L");
  //       margin-bottom: $spaceL;
  //     }
  //   }
  //   .Right {
  //     h1 {
  //       @include font("L");
  //     }

  //     h2 {
  //       @include font("M");
  //       margin-bottom: $spaceM;
  //     }
  //   }
  // }

  @include min-width(1000px) {
    @include flex(row, center, flex-start);

    margin-top: $spaceL;
    padding: 0 $spaceL;

    .Left,
    .Right {
      h1,
      h2 {
        text-align: left;
        margin-bottom: $spaceM;
      }
    }

    .Left {
      margin-right: $spaceM;
      width: 60%;

      h1 {
        @include font("G");
      }

      h2 {
        @include font("L");
      }
    }

    .Right {
      @include flex(column, center, flex-start);
      margin-left: $spaceM;
      width: 40%;

      h1 {
        @include font("XL");
      }

      h2 {
        @include font("M");
      }
    }
  }

  @include min-width(1500px) {
    max-width: $contentWidthL;
  }
}
