@import "../../vars";

.Features {
  @include flex(column, flex-start, center);
  width: 100%;
  min-height: 60vh;
  background: $eggshell;
}

.FeaturesContainer {
  @include flex(column, flex-start, center);

  width: 100%;
  max-width: $contentWidthL;
  background: white;
  margin: $spaceL 0;
}
