@import "../../vars";

//Section Container
.Testimonials {
  @include flex(column, flex-start, center);
  width: 100%;
  min-height: 50vh;
  max-width: $contentWidthL;
  margin: 0 auto;
}

//Title Container
.Container {
  padding: 0 $spaceM 0 $spaceM;
  max-width: $contentWidthL;
  width: 100%;
  background: white;
}

//Items Flex Container
.Items {
  @include flex(column, flex-start, center);
  width: 100%;
  max-width: 80rem;
  margin: $spaceM 0;

  @include min-width(1000px) {
    @include flex(column, flex-start, flex-start);
  }
}
