@import "../../../vars";

.PostCard {
  @include flex(column, flex-start, flex-start);
  margin: 2rem;
  width: 80%;
  height: 50rem;
  max-width: 40rem;

  @include min-width(1000px) {
    width: 27%;
    height: 75rem;
  }

  @include min-width(1200px) {
    height: 65rem;
  }

  @include min-width(1400px) {
    height: 60rem;
  }

  .ImageContainer {
    width: 100%;
    height: 50%;

    @include min-width(1000px) {
      height: 30%;
    }

    @include min-width(1200px) {
      height: 35%;
    }

    @include min-width(1400px) {
      height: 40%;
    }

    .Image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .Text {
    @include flex(column, space-between, flex-start);
    height: 50%;

    .Title {
      @include font("S");
      font-weight: 300;
      letter-spacing: 0.4rem;
      color: $primaryDD;
      text-transform: uppercase;
      margin-top: $spaceM;
    }

    .Subtitle {
      @include font("XS");
    }

    .ReadMore {
      @include flex(row, flex-start, center);
      @include font("XS");

      svg {
        margin-left: $spaceS;
      }
    }
  }
}
