@import "../../../vars";

.Timetable {
  width: 100%;
  max-width: 50rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  justify-items: center;
  border: 2px solid $gray3;
  grid-gap: $spaceS;
  padding: $spaceS;

  .List {
    @include flex(column, flex-start, center);

    .ListItem {
      color: dodgerblue;
    }
  }
}
