@import "../../../vars";

.Footer {
  @include flex(column, flex-start, center);
  // min-height: 35rem;
  width: 100%;
  background: lighten($gray1, 2%);

  @include min-width(1000px) {
    @include flex(row, flex-start, flex-start);
  }
}

.FooterNav {
  @include flex(column, flex-start, center);
  @include font("M");

  width: 100%;

  @include min-width(1000px) {
    @include flex(column, flex-start, flex-start);
    width: 30%;
    padding-left: $spaceL;
  }

  .Links {
    @include flex(column, flex-start, center);

    margin-top: $spaceM;

    .Icons {
      margin-top: $spaceS;
      a {
        margin-right: $spaceS;
        transition: 0.5s;
        white-space: nowrap;
      }

      a:hover {
        color: $primaryDD;
      }
    }

    @include min-width(1000px) {
      @include flex(row, center, center);

      .Icons {
        margin-left: $spaceS;
      }
    }
  }
}

.FacebookWidget {
  @include flex(column, flex-start, center);
  width: 100%;
  margin-top: $spaceM;

  @include min-width(1000px) {
    width: 35%;
  }
}

.InstagramWidget {
  @include flex(column, flex-start, center);
  width: 100%;
  margin-top: $spaceM;

  @include min-width(1000px) {
    width: 35%;
  }
}

.SubLink {
  @include font("SSM");
  margin-left: $spaceM;
}
