@import "../../../vars";

.Footer {
  @include flex(column, flex-start, center);
  min-height: 35rem;
  width: 100%;
  background: lighten($gray1, 2%);

  @include min-width(1000px) {
    @include flex(row, flex-start, flex-start);
  }
}

.FooterNav {
  @include flex(column, flex-start, center);
  @include font("M");

  width: 100%;

  @include min-width(1000px) {
    @include flex(column, flex-start, flex-start);
    width: 20%;
    padding: $spaceL;
  }

  .Links {
    @include flex(column, flex-start, flex-start);

    margin-top: $spaceM;

    a {
      margin-bottom: $spaceS;
    }
  }
}

.FacebookWidget {
  @include flex(column, flex-start, center);
  width: 100%;
  margin-top: $spaceM;

  @include min-width(1000px) {
    width: 40%;
  }
}

.InstagramWidget {
  @include flex(column, flex-start, center);
  width: 100%;
  margin-top: $spaceM;

  @include min-width(1000px) {
    width: 40%;
  }
}
