@import "../../../vars";

.Footer {
  @include flex(column, flex-start, center);
  position: relative;
  width: 100%;
  background: lighten($gray1, 2%);
  padding: $spaceM 0 $spaceL 0;
  max-width: 100vw;

  @include min-width(1000px) {
    @include flex(row, flex-start, flex-start);
  }
}

.FooterNav {
  @include flex(column, flex-start, center);
  @include font("M");

  width: 100%;

  @include min-width(1000px) {
    @include flex(column, flex-start, flex-start);
    width: 30%;
    padding-left: $spaceL;
  }

  .Links {
    @include flex(column, flex-start, center);

    margin-top: $spaceM;

    .Icons {
      margin-top: $spaceS;
      a {
        margin-right: $spaceS;
        transition: 0.5s;
        white-space: nowrap;
      }

      a:hover {
        color: $primaryDD;
      }
    }

    @include min-width(1000px) {
      @include flex(row, center, center);

      .Icons {
        margin-left: $spaceS;
      }
    }
  }
}

.FacebookWidget {
  @include flex(column, flex-start, center);
  width: 100%;
  margin-top: $spaceM;
  margin-bottom: $spaceM;

  @include min-width(1000px) {
    width: 35%;
    margin-bottom: 0;
  }
}

.InstagramWidget {
  @include flex(column, flex-start, center);
  width: 100%;
  margin-top: $spaceM;

  @include min-width(1000px) {
    width: 35%;
  }
}

.SubLink {
  @include font("SSM");
  margin-left: $spaceM;
}

.Credit {
  @include font("XS");
  position: absolute;
  bottom: $spaceS;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;

  p {
    a {
      color: dodgerblue;
    }
  }
}
